<!DOCTYPE html>
<html>

<head>
    <title>Midterm Skills Exam</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="container">
        <form>
            <h3>Login</h3>
            <label>
                <span>email:</span>
                <input type="text" placeholder="student@tip.edu.ph">
            </label>
            <label>
                <span>password:</span>
                <input type="password" placeholder="must be atleast 6 characters">
            </label>
            <button>Login</button>
            <button>Register</button>
        </form>
    </div>
</body>

</html>